.form {
  width: 505px;
  height: auto;
  left: calc(50% - 505px / 2 - 0.5px);
  top: calc(50% - 465px / 2);
  background: #ffffff;
  box-shadow: 7px 7px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding-bottom: 40px;
}

.form h2 {
  font-style: normal;
  text-align: center;
  font-weight: 500;
  font-size: 46px;
  line-height: 39px;
  letter-spacing: 0.025em;
  color: #424242; 
  margin: 33px 0px;
}

.form h2::after{
  content: "";
  display: block;
  margin: 5px auto;
  background-color: #424242;
  height: 1px;
  width: 60%;
}

.form .box-inputs{
  display: flex;
  flex-direction: column;
  row-gap: 22px;
  padding: 0px 51px;
}
