@font-face {
  font-family: "KoPub";
  src: url("../public/assets/fonts/kopubbatang-regular.ttf");
}

@font-face {
  font-family: "monserrat";
  src: url("../public/assets/fonts/Montserrat-Medium.ttf");
}

body {
  margin: 0;
  font-family: "KoPub";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box-form,
.box-team {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-form {
  background: linear-gradient(
    180deg,
    #fbb2b1 0%,
    rgba(251, 178, 177, 0) 163.1%
  );
}

.box-team {
  background: #fde1e1;
}
