@font-face{
  font-family: "KoPub";
  src: url('../public/assets/fonts/kopubbatang-regular.ttf');
}

body {
  margin: 0;
  font-family: "KoPub";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.content{
  height: 100vh;
  background: linear-gradient(180deg, #FBB2B1 0%, rgba(251, 178, 177, 0) 163.1%);
  display: flex;
  justify-content: center;
  align-items: center;
}
